body {
    overflow-x: hidden;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo . burger"
        "nav nav nav";

    z-index: 999;
    background-color: white;


}

header.full {

    grid-template-rows: auto auto auto;
    grid-template-areas:
        "logo . burger"
        "nav nav nav"
        ". . .";
}

.flex-container {
    grid-area: burger;
    grid-column: 3;

    z-index: 999;
    justify-self: end;



}

.header__images {
    grid-area: logo;
    z-index: 999;
}




.header__images--logo {
    width: 70px;
    margin-top: 2%;
    padding-left: 5%;

}




nav {
    display: none;
    transform: translate3d(100%, 0, 0);
    text-align: right;
    grid-area: nav;
    z-index: 999;
    grid-row: 1;
    height: 100vh;
    background-color: white;
    margin-top: 40px;


}

nav.show {

  width: 100vw;
    display: block;
    animation-name: slide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-bottom: 6em;

z-index: 1;
background-color: rgba(46, 49, 49, 1);



}


nav.show li {
    padding: 1em;
    font-size: 1.6em;
    color:#003488;


}



.bar1,
.bar2,
.bar3 {
    height: 5px;
    background-color: #031B30;
    margin: 6px 0;
    transition: 0.6s ease;
    background-color: white;

}

.x .bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);

}

.x .bar2 {
    opacity: 0;

}

.x .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);


}

.burger-menu {
    width: 2em;
    z-index: 999;


}

a {
    text-decoration: none;
    color:#003488;


}

@keyframes slide {
    from {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.section__header {


    grid-column: 1;
    grid-row: 1;
    grid-column-end: 3;

}

.introtext {
    display: flex;
   align-content: center;
    text-align: center;
    flex-flow: column wrap;
    width: 100%;
    position: absolute;
    top: 300px;
    font-size: 6vw;
    color: white;
    font-family: 'Quartz Grotesque';


}

.introtext h2 {
    padding-bottom: 10%;
}

h1 {
    font-family: 'Phosphate';

    font-size: 12vw;

}


/*center the video and hides the overflow. It was hanging on the right and it was scrollable sideways*/
#video {
display: flex;
flex-direction: column;
align-items: center;
margin-right: -50%;
overflow: hidden;
}

#myVideo {
  min-width: 100%;
  height: 100vh;
  /*the video is always 98% pf any viewport's height. It shows more but doesn't strech it (thanks god)*/
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "svg1"
        "mainh3"
        "officiallogo";
}

.svg1, .svg2, .svg3 {
    width: 101vw;
}

.svg1 {
    grid-area: svg1;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    bottom: 38%;
}

#why {
  position: relative;
  bottom: 43%;
}

main h3 {
    grid-area: mainh3;
    grid-row: 1;
    grid-column: 1;
    z-index: 999;
    justify-self: center;
    font-size: 2.5em;
    align-self: center;
}

.officiallogo {
    grid-area: officiallogo;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;


}
